/* Navbar section  */

.logo {
  height: 50px;
}

.links a {
  color: red;
  padding-right: 20px;
  text-decoration: none;
}

.links {
  padding-left: 30px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  background-color: rgba(241, 211, 216, 0.486);
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

/* Navbar section end */

@media (max-width: 480px) {
  .nav-button {
    padding: 10px !important;
  }
  nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* //Footer */

.footer {
  font-size: 14px;
  background-color: var(--color-primary);
  padding: 3px 0;
  background-color: rgba(249, 235, 235, 0.874);
  color: black;
  font-weight: 600 !important;
}

.footer .copyright {
  text-align: center;
}

.footer .credits {
  padding: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}

.button-18 {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #16437e;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
